@page "/wallet"

<div class="bg-dark h-100">
    <div class="container">
        <ModalTransaction item="@modalItem" hist="@history" oldItem="@wallet" />

        <InteractionZone amount="@wallet.Amount" showModal="ShowModal" />

        <TransactionHist hist="@history" />
    </div>
</div>

@code {
    public WalletVm wallet { get; set; } = new WalletVm();

    public List<WalletVm> history = new List<WalletVm>();

    public WalletVm modalItem = new WalletVm();

    public void ShowModal(WalletVm item)
    {
        modalItem = item;
    }
}